.new-collections {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 90vh;
}

.new-collections h1 {
    color: #4062b9;
    font-size: 50px;
    font-weight: 600;
}

.new-collections hr {
    width: 350px;
    height: 6px;
    border-radius: 10px;
    background: #6776b3;
}

.collections {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 10px;
    column-gap: 150px;
    row-gap: 30px;
}